.editable-text {
    display: block;
}
.editable__active .editable-text {
    display: none;
}

.editable-area {
    display: none;
}
.editable__active .editable-area {
    display: block;
}

.editable-button__save {
    display: none;
}
.editable__active .editable-button__save {
    display: inline-block;
}

.editable-button__edit {
    display: inline-block;
}
.editable__active .editable-button__edit {
    display: none;
}

.dropdown-order {
    margin: 1em 0;
}

.footer {
    height: 60px;
    margin-top: 100px;
    padding: 20px 0;
    background-color: #f5f5f5;
}